
body {
  font-family: 'Open Sans', arial;
  background: url('../resources/graphics/background.png');
}

::-webkit-input-placeholder {
  color: #B3B3B3;
}

::-moz-placeholder {
  color: #B3B3B3;
}

:-ms-input-placeholder {
  color: #B3B3B3;
}

:-moz-placeholder {
  color: #B3B3B3;
}

a {
  text-decoration: none;
}

.container {
  background-color: #fff;
}

.weak {
  color: #B3B3B3;
}

.text-right {
  text-align: right;
}

.small {
  font-size: 0.8rem;
}

.noMarginTop {
  margin-top: 0px !important;
}

.noPaddingRight {
  padding-right: 0px !important;
}

#hits {
  margin: 0;
  padding: 18px 18px 0 18px;
}

#hits a:not(:last-child),
#hits span:not(:last-child) {
  padding-right: 12px;
}

#mainSearch {
  background-color: #1C688E;
}

#mainSearch input[type=text] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  background-color: #fff;
  padding: 0 12px;
}

#cuisineHolder {
  padding: 0;
}

#cuisineHolder input {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 3px;
  font-size: 0.9rem;
  border: 1px solid #D6D6D6;
  padding: 4px;
}

#options h2 {
  font-weight: normal;
  font-size: 1.0rem;
}

#options ul img {
  width: 18px;
  height: 18px;
}

#options ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  max-height: 400px;
  overflow-y: auto;
}

#showFilters {
  display: none;
}

#paginationBlock {
  display: block;
}

/**
 * Mobile filter considerations
 */
@media (hover:none), (hover:on-demand) { 
  #options ul {
    max-height: 200px;
  }

  #filterDiv {
    display: none;
  }

  #showFilters {
    background-color: #e1e1e1;
    border-radius: 3px;
    padding: 12px 18px;
    text-align: center;
    display: block;
    margin-bottom: 12px;
  }

  #showFilters.on {
    background-color: #1C688E;
    color: #fff;
  }

  #hits {
    margin-top: -24px;
    text-align: center;
  }
}

#options ul li {
  padding: 4px;
  line-height: 1;
  margin: 0 0 1px 0;
  cursor: pointer;
}

#options ul li.active,
#options ul li:hover {
  background-color: #1C688E;
  border-radius: 3px;
  color: #fff;
}

#loading {
  display: none;
  position: fixed;
  width: 42px;
  height: 42px;
  top: 25%;
  left: 50%;
  margin-left: -21px;
  z-index: 10;
}

.padInternal {
  padding: 18px;
}

.result {
  display: block;
  cursor: pointer;
  margin-bottom: 12px;
}

.result:after {
  content: '';
  clear: both;
}

.result img.restaurant {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.starImg {
  width: 16px;
  height: 16px;
}

.result h2 {
  font-size: 1.0rem;
  font-weight: bold;
  margin: 0 0 4px 0;
  padding: 0;
}

.result p {
  padding: 0;
  margin: 0 0 4px 0;
  font-size: 0.8rem;
  color: #707070;
}

.clear {
  clear: both;
}

.numericRating {
  margin-right: 6px;
}

.orange {
  color: #FFAB66;
}

.container {
  margin-top: 24px;
  margin-bottom: 24px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .5);
}

/**
 * Loading holder animation
 */

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.bgHolderWhite {
  background: #fff;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.holderItem,
.holderItemCuisine {
  background: #fff;
  margin: 0 auto;
  max-width: 100%;
  margin-right: 24px;
  position: relative;
}

.holderItem {
  height: 104px;
}

.holderItemCuisine {
  height: 18px;
}

#locationError {
  position: fixed;
  z-index: 10;
  bottom: 24px;
  right: 24px;
  width: 300px;
  background-color: #cc0000;
  color: #fff !important;
  padding: 12px;
  font-size: 0.8em;
  border-radius: 12px;
}

.white {
  color: #fff !important;
}

.red {
  color: red !important;
}

.bgAnimate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
}

.bgHolderWhite {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bgHolderWhite.image {
  top: 18px;
  left: 18px;
  width: 80px;
  height: 80px;
}

.bgHolderWhite.cuisine {
  top: 0;
  left: 0;
  width: 100%;
  height: 13px;
}

.bgHolderWhite.line1 {
  top: 18px;
  left: 116px;
  width: 60%;
  height: 22px;
}

.bgHolderWhite.line2 {
  top: 47px;
  left: 116px;
  width: 40%;
  height: 22px;
}

.bgHolderWhite.line3 {
  top: 76px;
  left: 116px;
  width: 70%;
  height: 22px;
}